body
{
  color: white;
  background-color: black;
  background-image: url('windows_background.png');
  background-repeat: no-repeat;
  background-size: 1600px, 500px;
}
.heading
{
  width: 80%;
  font-size: 22px;
}
#camera
{
  border: 2px dashed black;
  width: 350px;
  height: 300px;
}
.name_of_objects, #result_object_name  , #result_object_accuracy
{
  color: yellow;
}

#guest {
    width: 200px;
    height: 200px;
}
img {
    border-radius: 50%;
  }
  